@import "./breakpoints.scss";
@import "./variables.scss";

.title-list {
  margin: 40px 100px;
  color: $blue;

  @include sm {
    margin: 40px 50px;
  }
}

.list {
  padding: 0 100px 120px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;

  @include xl {
    padding: 0 20px 120px;
  }
}

// Styles pour le bouton "Pay Now"
.pay-now-button {
  @include buttonStyle;
  margin-top: 10px;

  &:hover {
    background-color: darken($blue, 10%); // Assurez-vous que cette fonction est définie dans variables.scss
  }

  &:disabled {
    background-color: grey;
    cursor: not-allowed;
  }
}

// Styles pour le message de succès de paiement
.payment-success {
  text-align: center; /* Centre le texte */
  margin: 20px 100px; /* Marges pour l'espacement */
  padding: 20px; /* Espacement interne */
  border: 1px solid #ccc; /* Bordure pour le style */
  border-radius: 8px; /* Coins arrondis */
  background-color: #f9f9f9; /* Fond gris clair */
  
  h2 {
    color: $blue; /* Utilise votre couleur définie */
  }
  .centered-title {
    text-align: center;
    margin-bottom: 20px; // Ajouter un espacement en bas si nécessaire
}


  ul {
    list-style: none; /* Retire les puces de liste */
    padding: 0;

    li {
      margin: 8px 0; /* Espacement entre les éléments de la liste */
    }
  }

  button {
    @include buttonStyle;
    margin-top: 10px;
    
    &:hover {
      background-color: darken($blue, 10%); // Assurez-vous que cette fonction est définie dans variables.scss
    }
  }
}


